/* Zdjęcie autorstwa Polina Tankilevitch z Pexels: https://www.pexels.com/pl-pl/zdjecie/cukier-kolorowy-cukierek-slodycze-5469044/ */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url(../img/pexels-polina-tankilevitch-5469044.jpg);
    color: whitesmoke;
    font-family:'Gill Sans', sans-serif;
    font-size: 1.2em;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.signup {
    background-color: rgba(255, 192, 203, 0.9);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
}

#signup_form {
    display: flex;
    flex-direction: column;
}

label, input {
    font-size: 1.2em;
    font-family:'Gill Sans', sans-serif;
    margin: 0.4rem 0;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly; 
}

input[type=submit] {
    border-radius: 2rem;
    background-color: hsl(317 100% 54%);
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(317 100% 54%);
    box-shadow: inset 0 0 0.5em 0 rgb(255, 20, 189), 0 0 0.5em 0 rgb(255, 20, 189);
    padding: 0.5rem 5rem;
}

.link_container {
    text-align: center;
}

.link_container img {
    padding: 0.5rem;
}