/* Zdjęcie autorstwa Polina Tankilevitch z Pexels: https://www.pexels.com/pl-pl/zdjecie/cukier-kolorowy-cukierek-slodycze-5469044/ */

* {
    font-family: 'Gill Sans', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pexels-polina-tankilevitch-5469044.jpg);
    /* can be use just in case where the image is too big */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    /* font-style: italic; */
}

p {
    font-size: 1.2em;
}

.signup {
    /* Does we need here a width? We will see. Take it in % */
    max-width: 30%;
    background-color: rgba(255, 192, 203, 0.95);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0.3em 1.2em 0,
    rgba(0, 0, 0, 0.08) 0 0 0 0.1em;
}
/* why doesn't work? :( */

.signup form {
    display: flex;
    flex-direction: column;
}

.signup input {
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2em;
}

.signup .form_button {
    border-radius: 2em;
    background-color: hsl(317 100% 54%);
    font-weight: bold;
    padding: 0.7em 1.8em;
    margin: 0.4em;
    border: none;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em hsl(317 100% 54%);
    box-shadow: inset 0 0 0.5em 0 rgb(255, 20, 189), 0 0 0.5em 0 rgb(255, 20, 189);   
}

.signup .form_button:hover {
    color: lavender;
    border:  rgba(255, 255, 255, 0.3) solid 2px;
    scroll-behavior: smooth;
}
/* Also can do :focus with input[type=text]:focus or other type of input. */

.signup .link_container {
    display: flex;
    justify-content: space-between;
}

.signup .link_container img {
    width: 97%;
}

.signup .close_icon {
    float: right;
}
